<!doctype html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="/js/log_out_button.js"></script>
</head>

<body>
	<div class="container">
        <div class="top-bar">
            <div class="flex-container-top-info">
                <div class="log-out">
                    <button class="log-out-button">Log Out</button>
                </div>
                <div class="difficulty-setting">
                    Profile
                </div>
                <div class="streak">
                    <img src="/imgs/xp-logo.png" class="img">
                    {{streak}}
                </div>
            </div>
        </div>
        <div class="profile-name">
            <br>
            <p class="profile-username">Username: {{username}}</p>
            <a href="#">Change Username</a><br>
            <a href="#">Change Password</a>
            <br><br><br>
            <p class="profile-username">Streak: <img src="/imgs/xp-logo.png" class="img"> {{streak}}</p>
            <p class="profile-streak-info">Streak measures how many questions you answer correctly in succession.<br>Try to get the highest number possible and beat your classmates!</p>
            <br><br>
            <button class="open-button" onclick="openForm()">Add Friends</button>
            <div class="form-popup" id="myForm">
                <form class="form-container">
                    <label for="email"><b>Add Friend</b></label>
                    <input type="text" placeholder="Enter Username" name="email" id="username" required>
                    <button type="submit" class="btn" id="confirm-friend">Add Friend</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

        </div>

        <div class="navbar">
            <div class="navbar-cell">
                <a href="../home"><img src="/imgs/lessons-logo.png" class="img"></a>
            </div>
            <div class="navbar-cell">
                <a class="active" href="#profile"> <img src="/imgs/profile-logo.png" class="img"></a>
            </div>
            <div class="navbar-cell">
                <a href="../leaderboard"><img src="/imgs/leaderboards-logo.png" class="img"></a>
            </div>
        </div>
    </div>

</body>
</html>
