html,body{
    width: 100%;
}

.container{
    border-color: red;
    align-items: center;
    float: center;
}

/*TOP BAR INFO*/
.flex-container-top-info{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}

.difficulty-setting{
    flex: 75%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #769EFA;
    margin: 0 auto;
}

.streak{
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFB800;
    margin: 0 auto;
}

/*END TOP BAR INFO*/

/*WELCOME MESSAGE*/
.welcome-message{
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #769EFA;
    margin: 0 auto;
}

/*END OF WELCOME MESSAGE*/



/*LOGIN CSS*/

.login-container{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

/*END OF LOGIN CSS*/

/*LEADERBOARD CSS*/
.flex-container-leaderboard{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}
.streak{
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFB800;
    margin: 0 auto;
}

/*END OF LEADERBOARD CSS*/

/*PROFILE CSS*/

/*END OF PROFILE CSS*/

/*LESSONS CSS*/
.flex-container-lessons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 440px;
}

.lesson{
    /*border circle*/
    border: 2px solid #394E99;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    /*font*/
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
 

    /*to center*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 55px;
}

.lesson a{
    text-align: center;
    text-decoration: none;
}

.lesson a:hover {
    color: rgb(0, 209, 0);
    border-color: rgb(0, 209, 0);
}
/*END OF LESSONS CSS*/

/*NAVBAR CSS*/
.navbar{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
}

.navbar-cell{
    margin: 0 auto;
}

.navbar a {
    background: #769EFA;
    border-radius: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/*END OF NAVBAR CSS*/


/***********************************
**START OF QUESTION CSS FORMATTING**
************************************/

/*LESSON INFO CSS*/

/*END OF LESSON INFO CSS*/

/*QUESTION CSS*/
.question{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    
    border: 1px solid #000000;
    box-sizing: border-box;
    
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*END OF QUESTION CSS*/


/*ANSWER CHOICE CSS*/
.flex-container-answer-choices{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.question-prompt{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 auto;
    justify-content: center;
}

.answer-choice{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;

    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.correct{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #4caf50;
}

.incorrect{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: red;
}

.link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #769EFA;
    text-decoration: none;
}

.link a {
    text-decoration: none;
}

.link a:hover {
    background-color: #ddd;
    color: black;
}

button{
    margin: 0 auto;
}

/*END OF ANSWER CHOICE CSS*/

/*FLEX FORMATTING*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.column {
    flex: 50%;
}

.column-answer-choice{
    display: flex;
    flex: 1 1 calc(50%);
    margin-top: 10px;
}

.column-answer-choice:nth-child(odd) {
    flex: 0 0 50%;
  }
/*END OF FLEX FORMATTING*/
