.container{
    border-color: red;
    align-items: center;
    width: 50%;
    float: center;
}

/*TOP BAR INFO*/
.flex-container-top-info{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}

.difficulty-setting{
    flex: 75%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #769EFA;
    margin: 0 auto;
}

.streak{
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFB800;
    margin: 0 auto;
}

/*END TOP BAR INFO*/


/*LESSONS CSS*/
.flex-container-lessons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 440px;
}

.lesson{
    /*border circle*/
    border: 2px solid #394E99;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    /*font*/
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
 

    /*to center*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 0px;
}

.lesson a{
    text-align: center;
    text-decoration: none;
}

.lesson a:hover {
    color: rgb(0, 209, 0);
    border-color: rgb(0, 209, 0);
}
/*END OF LESSONS CSS*/

/*NAVBAR CSS*/
.navbar{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.navbar-cell{
    margin: 0 auto;
}

.navbar a {
    background: #769EFA;
    border-radius: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/*END OF NAVBAR CSS*/


/***********************************
**START OF QUESTION CSS FORMATTING**
************************************/

/*LESSON INFO CSS*/

/*END OF LESSON INFO CSS*/

/*QUESTION CSS*/
.question{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 0 auto;
}

/*END OF QUESTION CSS*/


/*ANSWER CHOICE CSS*/
.question-prompt{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.answer-choice{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
/*
.correct{

}
*/
/*END OF ANSWER CHOICE CSS*/

/*FLEX FORMATTING*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 50%;
}

.column-answer-choice{
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
}
/*END OF FLEX FORMATTING*/
